
 /*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    // FOOTER CSS

    .footerCompanyContainer { flex-basis: 30%; }

    .footerEmailContainer { flex-basis: 25%; }

    .workDetailsContainer { flex-basis: 15%; }

    .actionOptions { flex-basis: 15%; }

    .socialMediaOptions { flex-basis: 15%;  }

    .footer { height: 15rem; }

    #querySection {
        padding: 6rem;
    }

    #navMenu {
        margin-right: 2rem;
      }

      #logo { margin-left: 2rem; }

    // ABOUT ME

    #aboutMeRow {
        margin-top: 11rem;
        }

    #aboutMePic {
        margin-top: -11rem;
    }

    #aboutMeLeft { flex-basis: 50%; }

    #aboutMeRight {

        flex-basis: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #aboutMeCaption { text-align: left; }

    // TESTIMONIAL

    .testimonialIcon {
        font-size: 2rem;
        margin-right: 2rem;
    }

    #testimonialSection {
        justify-content: space-around;
        height: 11rem;
    }

    #overlayImg { height: 38rem; }

    #overlayTxtSection { width: 40%; }

  }