
  /*
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */


  @media (min-width: 481px) and (max-width: 767px) {

    // FOOTER CSS

    .footerCompanyContainer { flex-basis: 100%; }

    .footerEmailContainer { flex-basis: 100%; }

    .workDetailsContainer { margin-top: 1rem; flex-basis: 50%; }

    .actionOptions { margin-top: 1rem; flex-basis: 50%;}

    .socialMediaOptions { margin-top: 2rem; flex-basis: 50%; }

    #querySection {  padding: 2rem; }

 // TESTIMONIAL

    .testimonialIcon {
        margin-right: 1rem;
        font-size: 1.7rem;
    }

    #testimonialSection {

        height: 20rem;
        justify-content: flex-start;
    }

    .testimonialComponent {
        margin-left: 20%;
        margin-top: 1rem;
    }

    #aboutMeRow { margin-top: 20rem;  }

    #aboutMePic {
      margin-top: 4rem;
    }

    .aboutMeContent { padding: 3rem; }

    #aboutMeCaption {  text-align: center;  }

    #overlayImg {
      margin-top: 6rem;
      height: 13rem;
    }

    #overlayTxtSection {  width: 90%; }
  }





/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {

  #navBar { background-color: gray; }

}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

  #navBar { background-color: gray; }
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
  #navBar { background-color: gray; }
}

