
$footerFontColor: #B3B6B7;

$footerCaptionColor: white;

$navBarBgColor: white;

$activeMenuColor: #10c9c3;

$btnTxtColor: white;

$contentTxtColor: #626567;

$overlayTxtColor: white;

$overlayHeaderTxtColor: white;

$stickyHeaderBgColor: white;

$testimonialSectionColor: white;